body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 50px;
}

.main {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #3498db;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.box {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

label {
    color: #2c3e50;
    font-weight: bold;
}

#name,
#age,
#email,
#phno,
#gender,
#password {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #3498db;
    border-radius: 5px;
    box-sizing: border-box;
}

#submit {
    width: 100%;
    padding: 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: #2980b9;
}

/* Add more styles as needed */
